* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  padding: 30px;
  font-family: "Lato", sans-serif;
  color: #666;

  @include respond(tablet) {
    padding: 0;
  }
}
a {
  text-decoration: none;
}
